<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="course.graduation.dao.sandao">
    <resultMap type="course.graduation.model.san" id="AllUser">
        <id column="studentid" property="studentid" />
        <result column="studentname" property="studentname" />
        <result column="phone" property="phone" />
        <result column="majorclass" property="majorclass"/>
        <result column="companyname" property="companyname"/>
        <result column="companyplace" property="companyplace"/>
        <result column="studentposition" property="position"/>
        <result column="intershiptype" property="type"/>
        <result column="begintime" property="begintime"/>
        <result column="endtime" property="endtime"/>
    </resultMap>
    <!--<select id="GetUser" resultType="course.graduation.model.users">-->
            <!--select * from users WHERE  id_users =#{userid}-->
    <!--</select>-->
    <select id="GetstudentIF" resultMap="AllUser">
        select * from san WHERE  studentid =#{studentid}
    </select>

    <select id="GetAll" resultMap="AllUser">
        select * from san
    </select>

    <insert id="addIF" parameterType="course.graduation.model.san">
        insert into san(studentid, studentname,phone,majorclass,companyname,companyplace,studentposition,intershiptype,begintime,endtime)
        values(#{studentid}, #{studentname}, #{phone}, #{majorclass}, #{companyname}, #{companyplace}, #{position}, #{type}, #{begintime}, #{endtime})
    </insert>


</mapper>
